article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }

body {
  background-color: #333;
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300px;
}

header { margin-top: 1em; }

header, article, footer { 
  width: 90%; 
  margin: 0 auto; 
}

ol,ul { list-style: none; }

p { margin-bottom: 10px; }

a { color: white; }

h1 {
  font-size: 2em;
  margin-bottom: .5em;
  line-height: 1em;
  font-weight: 700;
  padding-right: 3px;
}

input {
  box-shadow: none;
  border: none;
  margin-left: 1em;
  padding: 5px;
  border-radius: 2px;
  text-align: center;
}

#print-paragraphs {
margin-top: 20px;
margin-bottom: 40px;
}

#submit {
background-color: #C43512;
border: medium none;
border-radius: 2px;
color: #F2F2F2;
font-size: 1em;
margin-top: 1em;
margin-left: 0;
box-shadow: 0 1px 0 #000;
padding: .5em 1em;
}